body { background: #bfa6f1; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 52px; display: flex; }
.block-auth-0 { color: #941602; font-size: 13px; margin-bottom: 5px; }
.block-sms-1 { color: #b139be; font-size: 13px; margin-bottom: 5px; }
.block-auth-2 { color: #e61242; font-size: 18px; margin-bottom: 5px; }
.block-cluster-3 { color: #437a; font-size: 12px; margin-bottom: 5px; }
.block-order-4 { color: #a2afbc; font-size: 13px; margin-bottom: 5px; }
.block-uploader-5 { color: #177553; font-size: 16px; margin-bottom: 5px; }